@charset "ISO-8859-1";
* {
    box-sizing: border-box;
}

header {
	background: #000000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	position: fixed;
	background-color: #333741;
	color: red;
}


#form {
	background-color: red 0.5;
}

h1.title {
	text-align: center;
}

.fix{
	position: fixed;
    top: 150px;
    left: 5px;
    padding: 15px;
    margin: 10px;
}
.fix2{
	position: fixed;
    top: 450px;
    left: 5px;
    padding: 15px;
    margin: 10px;
}

.posizionenav {
	position: fixed;
}

body {
    background: #222;
    color:#efefef;

    font-family: 'Titillium Web',sans-serif ;
}


.contenitore {
    width: 70%;
    margin: auto;
}




#hero {
    padding:1rem;
}

/* -------------------------------------------------------------------------- */
/*                                   SERVIZI                                  */
/* -------------------------------------------------------------------------- */

#servizi {

    display: flex;

}

.servizioBox {
    width:33%; 
    padding:1rem;
}

